<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	 <link rel="stylesheet" id="ls-google-fonts-css" href="https://fonts.googleapis.com/css?family=Lato:100,300,regular,700,900" type="text/css" media="all">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/18.2.1/css/intlTelInput.css"  />
  
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <style type="text/css">
        /* CLIENT-SPECIFIC STYLES */

        .iti__flag {background-image: url("/assets/img/flags.png");}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/18.2.1/img/flags@2x.png");}
}
.iti{
  width: 100%;
}
 .custom-input {
	margin:5px 0;
	padding:10px 5px;
	width:100%;
	outline:none;
	border:1px solid #bbb;
	border-radius:5px;
	display:inline-block;
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box;
    -webkit-transition:0.2s ease all;
	   -moz-transition:0.2s ease all;
	    -ms-transition:0.2s ease all;
	     -o-transition:0.2s ease all;
	        transition:0.2s ease all;
}

        #outlook a {
            padding: 0;
        }
        /* Force Outlook to provide a "view in browser" message */

			 .sub-container{
            width: 480px;
        }

        .ReadMsgBody {
            width: 100%;
        }

        .ExternalClass {
            width: 100%;
        }
            /* Force Hotmail to display emails at full width */

            .ExternalClass,
            .ExternalClass p,
            .ExternalClass span,
            .ExternalClass font,
            .ExternalClass td,
            .ExternalClass div {
                line-height: 100%;
            }
        /* Force Hotmail to display normal line spacing */

        body,
        table,
        td,
        a {
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
        }
        /* Prevent WebKit and Windows mobile changing default text sizes */

        table,
        td {
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
        }
        /* Remove spacing between tables in Outlook 2007 and up */

        img {
            -ms-interpolation-mode: bicubic;
        }
        /* Allow smoother rendering of resized image in Internet Explorer */
        /* RESET STYLES */

        body {
            margin: 0;
            padding: 0;
        }

        img {
            border: 0;
            height: auto;
            line-height: 100%;
            outline: none;
            text-decoration: none;
        }

        table {
            border-collapse: collapse !important;
        }

        body {
            height: 100% !important;
            margin: 0;
            padding: 0;
            width: 100% !important;
        }
        /* iOS BLUE LINKS */

        .appleBody a {
            color: #68440a;
            text-decoration: none;
        }

        .appleFooter a {
            color: #999999;
            text-decoration: none;
        }

        a:link {
            color: #00aff0;
            text-decoration: none;
        }

        a:visited {
            color: #00aff0;
            text-decoration: none;
        }

        a:hover {
            color: #00aff0;
            text-decoration: none;
        }

        a:active {
            color: #00aff0;
            text-decoration: underline;
        }

        .buttonLink a:link {
            color: #ffffff;
            text-decoration: none;
        }

        .buttonLink a:visited {
            color: #ffffff;
            text-decoration: none;
        }

        .buttonLink a:hover {
            color: #ffffff;
            text-decoration: none;
        }

        .buttonLink a:active {
            color: #ffffff;
            text-decoration: underline;
        }
        /* MOBILE STYLES */

        @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
		
		 .sub-container{
                width: 95%;
            }
			
            /* ALLOWS FOR FLUID TABLES */
            table[class="wrapper"] {
                width: 100% !important;
            }
            /* ADJUSTS LAYOUT OF LOGO IMAGE */
            td[class="logo"] {
                text-align: left;
                padding: 20px 0 20px 0 !important;
            }

                td[class="logo"] img {
                    margin: 0 auto !important;
                }
            /* USE THESE CLASSES TO HIDE CONTENT ON MOBILE */
            td[class="mobile-hide"] {
                display: none;
            }

            img[class="mobile-hide"] {
                display: none !important;
            }

            img[class="img-max"] {
                max-width: 100% !important;
                height: auto !important;
            }
            /* UTILITY CLASSES FOR ADJUSTING PADDING ON MOBILE */
            td[class="padding"] {
                padding: 10px 5% 15px 5% !important;
            }

            td[class="padding-copy"] {
                padding: 10px 5% 10px 5% !important;
                text-align: left !important;
            }

            td[class="padding-meta"] {
                padding: 30px 5% 0px 5% !important;
                text-align: center;
            }

            td[class="no-pad"] {
                padding: 0 0 20px 0 !important;
            }

            td[class="no-padding"] {
                padding: 0 !important;
            }

            td[class="section-padding-bottom-image"] {
                padding: 50px 15px 0 15px !important;
            }

            table[class="mobile-button-container"] {
                margin: 0 auto;
                width: 100% !important;
            }

            a[class="mobile-button"] {
                width: 90% !important;
                padding: 15px !important;
                border: 0 !important;
                font-size: 16px !important;
            }



        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            if (navigator.userAgent.indexOf("mobile-version") > -1) {
                var top = $("#billRow").offset().top;
                top += 30;
                $("#billRow").offset({
                    top: top
                });
            }
        });
    </script>
</head>

<body style="background-color: #f6f6f6; width: 100% !important; height: 100%;">
    <!--[if mso]><style type="text/css ">body, table, td, a {font-family:  Helvetica, Arial, sans-serif !important;}</style><![endif]-->
    <table style="background-color: #f6f6f6; width: 100%; font-family: Lato, Helvetica, Arial, sans-serif; color: #4b4847;">
        <tbody>
            <tr id="billRow ">
                <td width="100% " align="center">
                    <!--[if mso]><center><table><tr><td width="500 "><![endif]-->
                    <div class="sub-container">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                                <tr>
                                    <td bgcolor="#f6f6f6 " align="center" style="padding: 5px;">
                                        <!-- View End -->
                                        <!-- Header 2 -->
                                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td style="padding: 15px 10px 15px 10px">
                                                        <table cellpadding="0 " cellspacing="0 " border="0" width="100%" style="padding: 15px 0;">
                                                            <tbody>
                                                                <tr style="padding: 0 10px">
                                                                    <td align="left" id="billLabel" style="font-family: Lato, Helvetica, Arial, sans-serif; color: #4b4847; font-size: 14px; width: 70%">
                                                                        Bill 20231124161019998
                                                                    </td>
                                                                    <td align="right" style="font-family: Lato, Helvetica, Arial, sans-serif; color: #4b4847; font-size: 14px; width: 30%">
                                                                        24/11/2023
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- Header 3 -->
                                        <!--STATUS-->
                                        <!-- Main Table -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td bgcolor="#f6f6f6 " align="center">
<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-radius: 3px; border-left: 1px solid #e9e9e9; border-right: 1px solid #e9e9e9;" class="responsive-table">
<tbody>
<tr>
<td>
<table width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td>
<table width="100%" cellspacing="0" cellpadding="0">
    <tbody>
		<!-- tax -->
        <tr>
            <td bgcolor="#e9e9e9 " align="center" style="padding-top: 30px">
                <img alt="Fujtown " src="https://www.gotapnow.com/web/tapimgEmail.aspx?cst=1263747" width="70" height="70" style="display: block; font-family: Helvetica, Arial, sans-serif; color: #666666; font-size: 16px; margin: auto;" border="0">
            </td>
        </tr>
        <tr>
            <td bgcolor="#e9e9e9" align="center" style="font-size: 16px; font-family: Lato, Helvetica, Arial, sans-serif; color: #4b4847; padding-top: 5px;">
                Fujtown 
            </td>
        </tr>
        <tr>
            <td bgcolor="#e9e9e9 " align="center" style="font-size: 36px; font-family: Lato, Helvetica, Arial, sans-serif; font-weight: 300; color: #4b4847; padding-top: 10px;">
              <%= getCurrencySymbol(userData.currency) %>  <%= userData.amount %>.00
            </td>
        </tr>
        <tr>
            <td bgcolor="#e9e9e9 " align="center" style="font-size: 14px; font-family: Lato, Helvetica, Arial, sans-serif; color: #4b4847; padding: 5px 0px 25px 0px;">
                Due on&nbsp;Friday, Nov 24, 2023
            </td>
        </tr>
		<!--businesscontact-->
    </tbody>
</table>
</td>
</tr>
<tr>
<td bgcolor="#ffffff " style="padding: 25px 5% 0 5%;">
<table cellpadding="0" cellspacing="0" border="0" width="100%">
    <tbody>
        <tr><td style="padding: 0px 0px 10px 0px;"><table cellpadding="0" cellspacing="0" border="0" width="100%"><tr>
          <td align="left" style="font-family: Lato, Helvetica, Arial, sans-serif; color: #4b4847; font-size: 14px; width:70%">Consultation</td>
          <td align="right"  style="font-family: Lato, Helvetica, Arial, sans-serif; color: #4b4847; font-size: 14px; width:30%"> <%= getCurrencySymbol(userData.currency) %>  <%= userData.amount %>.00</td>
        </tr></table></td></tr>
      
        <tr>
            <td style="padding: 10px 0px; border-top: 1px solid #4b4847; border-bottom: 1px solid #4b4847;">
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                    <tbody>
                        <tr>
                            <td align="left" style="font-family: Lato, Helvetica, Arial, sans-serif; color: #4b4847; font-size: 14px; width: 70%">
                                Total
                            </td>
                            <td align="right" style="font-family: Lato, Helvetica, Arial, sans-serif; color: #4b4847; font-size: 14px; width: 30%">
                              <%= getCurrencySymbol(userData.currency) %>  <%= userData.amount %>.00
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                    <tr>
                        <td style="padding: 20px 0px;"></td>
                    </tr>
                  
                    <tr>
                        <td align="center" style="padding: 0px 0px 5px 0px; font-family: Lato, Helvetica, Arial, sans-serif; color: #4b4847; font-size: 14px;">
                          
                        	<input type="text" id="firstname" class="custom-input" required placeholder="Enter Your First Name">
                        	<input type="text" id="lastname" class="custom-input" required placeholder="Enter Your Last Name">
                        	<input type="email" id="email" class="custom-input" required placeholder="Enter Your Email">
                          <input  class="phone" id="phone" style="width: 100%; padding: 10px 10px 10px 73px; text-align: left;border-radius: 5px;" type="tel"   required maxlength="19" placeholder=""/>
                          <input type="hidden" value="1" id="country_code" name="country_code">
                          <input type="hidden"  value="<%= userData.amount %>" id="amount">
                          <input type="hidden" value="<%= userData.currency %>" id="currency">
                          <input type="button" id="chargeButton"  style="margin-top: 10px;width: 100%;padding: 13px;background: #2ace00;border-radius: 30px;border: none;color: white;cursor: pointer;" value="Pay <%= getCurrencySymbol(userData.currency) %> <%= userData.amount %>.00">
                          
                        </td>
                    </tr>
                   
                    

    </tbody>
</table>
</td>
</tr>
<!--referencenumber-->
<!--comments-->
<tr>
<td bgcolor="#f6f6f6">
<img class="img-max" style="width: 100%;" src="https://www.gotapnow.com/web/tmem/zigzag.png" />
</td>
</tr>

</tbody>
</table>
</td>
</tr>

</tbody>
</table>
</td>
</tr>

</tbody>
</table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <!-- EmailFooter End -->
                                            <tr>
                                                <td align="center" style="font-size: 12px; line-height: 18px; font-family: Lato, Helvetica, Arial, sans-serif; color: #aaaaaa;">
                                                    Copyright &copy; 2023 Tap Payments. All rights reserved.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" style="padding: 10px 0 20px 0;">
                                                    <a href="https://www.gotapnow.com">
                                                        <img src="https://www.gotapnow.com/web/tmem/tap_gray.png" height="50" width="50" />
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <!--[if mso]></td></tr></table></center><![endif]-->
                </td>
            </tr>

        </tbody>
    </table>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/18.2.1/js/intlTelInput.min.js"></script>
    <script>
      $(document).ready(function () {
          
            // Initialize the intlTelInput library
   var input = document.querySelector(".phone");
   var iti = window.intlTelInput(input, {
       separateDialCode: true,
      
       utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/18.2.1/js/utils.min.js", // Make sure to include this script
               preferredCountries: ['us', 'gb', 'ae'], // Prioritize US, UK, and UAE
        dropdownContainer: document.body
   });

   // Update the hidden input with the selected country code
   input.addEventListener("countrychange", function () {
       var country_code = iti.getSelectedCountryData().dialCode;
       document.querySelector("#country_code").value = country_code;
   });
   
      });
</script>
    <script>
      document.getElementById('chargeButton').addEventListener('click', function() {
       
        // Disable the button
       document.getElementById('chargeButton').disabled = true;
          // Change the button text to "Loading..."
       document.getElementById('chargeButton').value = 'Loading...';

        // alert()
        createCharge();
      });
      function generateRandomNumber() {
  const randomNumber = Math.floor(Math.random() * 100) + 1; // Generates a random number between 1 and 100

  return `${randomNumber}`;
}

  
      function createCharge() {
      const  fname=document.getElementById('firstname').value;
      const  lname=document.getElementById('lastname').value;
      const  email=document.getElementById('email').value;
      const  phone=document.getElementById('phone').value;
      const  amount=document.getElementById('amount').value;
      const  currency=document.getElementById('currency').value;
      const  country_code=document.getElementById('country_code').value;
      const  rand=generateRandomNumber();
      const randomOrd ='ord_'+ rand;
      const randomTxn ='txn_'+ rand;
        // Prepare the charge data
        const chargeData = {
          amount: amount,
          currency: currency,
          customer_initiated: true,
          threeDSecure: true,
          save_card: false,
          description: 'Test Consulation Description',
          metadata: { udf1: 'Metadata 1' },
          reference: { transaction: randomTxn, order:randomOrd },
          receipt: { email: true, sms: true },
          customer: {
            first_name: fname,
            last_name: lname,
            email: email,
            phone: { country_code: country_code, number: phone }
          },
          merchant: { id: '1263747' },
          source: { id: 'src_all' },
          post: { url: '/webhook' },
          redirect: { url: '/success' }
        };
  
        // Make an Ajax request to the server's createCharge route
        fetch('/createCharge', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(chargeData),
        })
        .then(response => response.json())
        .then(data => {
          console.log('Charge request successful:', data);

           // Change the button text back to the original value
      document.getElementById('chargeButton').value = 'Pay <%= getCurrencySymbol(userData.currency) %> <%= userData.amount %>.00';

           // Check if the response contains a transaction with a URL
           if (data.transaction && data.transaction.url) {
            // Open the URL in a new window or tab
            window.location.href=data.transaction.url;
          } else {
            console.log('No transaction URL in the response.');
          }
  
          // Handle the response as needed
        })
        .catch(error => {
          console.error('Error creating charge:', error);
          // Handle errors
        });
      }
    </script>
</body>
</html>